.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 600px;
    height: 600px;
    border-radius: 5px;
    background-color: rgba(0, 139, 139, 0.326);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top{
    display: flex;  
    justify-content:space-around;
    align-items: center;
}

.scoreContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categories{
    display: flex;
    position: relative;
}

.cateInput input{
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(181, 239, 239, 0.538);  
}

.cateInput{
    display: flex;
    align-items: center;
    gap: 5px;
}
.categoriesList{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 69%;
    right: 0px;
    top:25px;
    background-color: rgba(4, 40, 56, 0.551);
    border-radius: 5px;
    font-size: 12px;
    list-style: none;
    gap: 10px;
    padding: 10px 0px;
    max-height: 276px;
    overflow-y: auto;
}

.categoriesList::-webkit-scrollbar{
    background-color: darkcyan;  
    border-radius: 5px;
}

.categoriesList::-webkit-scrollbar-thumb{
    background-color: aquamarine;
    border-radius: 5px;
}

.categoriesList a{
    padding: 5px;
}

.categoriesList a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.names{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 10px; 
    background-color: rgba(173, 216, 230, 0.481);
}
.row p {
    white-space: nowrap;
    min-width: 50px;
    text-align: center;
    color: black;
}
.titlesContainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 10px;   
    font-weight: bold; 
    background-color: rgb(2, 127, 120);
}

.noScore{
position: absolute;
top: 50%;
right: 50%;
transform: translate(50%, 50%);
}
