.container{
    border: solid;
    margin: auto;
    width: 100%;
    height: 800px;
    border-radius: 5px;
    border-color: aquamarine;
    box-shadow: 0px 0px 10px aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.left{
    height: 100%;
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0px 0px 10px aquamarine;
    transition: .5s ease;
    opacity: var(--opacity);
}

.dashSetting{
    width: 100%;
    height: 80%;
    pointer-events: var(--pointer);
    position: absolute;
    scale: var(--scale);
    opacity: var(--opacity);
}

.sideButton{
    background-color: transparent;
    border: none;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.header svg{
    width: 80px;
    height: 80px;
    transition: .2s ease;
    color: white;

}

.header svg:hover{
cursor: pointer;
  scale: 1.1;
filter:drop-shadow(0px 0px 1px yellow);
}
.newHeader{
    display: flex;
    position: absolute;
    top: 30px;
    align-items: center;
    gap: 20px;
    font-weight: bold;

}
.newHeader svg{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .2s ease;
    color: white;



}
.newHeader svg:hover{
    filter:drop-shadow(0px 0px 1px yellow);
    scale: 1.1;
}


.right{
    height: 100%;
    width: var(--size);
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow:inset 0px 0px 10px aquamarine;
    transition: .5s ease;
    opacity: var(--opacity);

}


.gameSetting{
    width: 100%;
    height: 80%;
    pointer-events: var(--pointer);
    position: absolute;
    scale: var(--scale);
    opacity: var(--opacity);
}



@media  screen and (max-width: 500px) {
 .container{
    flex-direction: column;
 }

 .right{
    height: var(--size);
    width: 100%;
 }

 .newHeader svg{
    width: 35px;
    height: 35px;
 }

 .header svg:hover{
    scale: 1;
 }
 .newHeader svg:hover{
    scale: 1;
 }
 .left{
    height: var(--size);
    width: 100%;
 }

 

}


