.questionType{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
}

.main{
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--color);
    padding: 5px;
    width: 140px;
    text-align: center;
    background-color: var(--background);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;

}

.types{
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.types button{
    color: aquamarine;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px aqua;
    padding: 5px;
    transform: var(--transform);
    opacity: var(--opacity);
    transition: .2s ease;
    pointer-events:var(--pointer);
    width: 120px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.types button:hover{
    box-shadow: 0px 0px 10px aqua;
}
.types button:first-child{
    transition: .3s;
}
.types button:nth-child(2){
    transition: .4s;
}
.types button:nth-child(3){
    transition: .5s;
}

@media screen and (max-width:1000px) {
    .questionType{
      flex-direction: column;
      height: 90%;
    }
  }


@media screen and (max-width:550px) {
    .questionType{
        font-size: 11px;
    }
    .questionType button{
        width:95px;
        white-space: nowrap;
    }
    .main{
        min-width: 120px;
        font-size: 11px;
        padding:7px 0px;
    }
}

@media screen and (max-width:300px) {
    .main{
        min-width: 90px;
    }
    .questionType button{
        width:68px;
        font-size: 9px;
        
    }

}