.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.inputList{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.categoriesList{
    position:absolute ;
    top: 45px;
    background-color: rgba(4, 40, 56, 0.551);
    width: 100%;
    list-style: none;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
    padding: 15px 3px;
    max-height: 100px;
    overflow-y: auto;
}

.categoriesList::-webkit-scrollbar{
    background-color: aquamarine;
    border-radius: 5px;
}

.categoriesList::-webkit-scrollbar-thumb{
    background-color: darkcyan;
    border-radius: 5px;
}
.categoriesList li{
    cursor: pointer;
    padding: 5px;
}
.categoriesList li:hover{
    background-color:rgba(255, 255, 255, 0.519) ;
    border-radius: 5px;
    color:black;
}
.choose input{
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 2px aqua;
    outline: none;
    transition: .2s ease;
    width: 100%;
    color: white;
}
.choose input:focus{
    box-shadow: 0px 0px 5px aqua;
}

.resultContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.scoreContainer{
    display: flex;
    min-width: 300px;
    max-width: 300px;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(222, 236, 231, 0.081);
    border-radius: 5px;
    padding: 10px;
    letter-spacing: .5px;
}

.scoreContainer p{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 12px;
    white-space: wrap;
}
.scoreContainer svg{
    scale: 1.2;
}

.conicContainer{
    background: conic-gradient(green var(--deg), rgba(233, 233, 213, 0.542) 5deg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
    margin: auto;
}

.conicContainer::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: rgb(1, 30, 30);
    border-radius: 50%;    
}

.conicContainer p{
    z-index: 2;
}