:root {
  --main-background-color: rgb(1, 16, 29);
}

body{
  background-color: var(--main-background-color);
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  color: white;
  text-decoration: none;
}