body{
  background-color: rgb(1, 16, 29);
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  color: white;
  text-decoration: none;
}